<form id="add-user-form">
    <legend>Add User</legend>
    <input type="button" class="btn btn-danger pull-right cancel" value="Cancel" />
    <input type="submit" class="btn btn-success pull-right" value="Save" />
    <label>First Name</label>
    <input type="text" name="first_name" />
    <label>Last Name</label>
    <input type="text" name="last_name" />
    <label>Email</label>
    <input type="email" name="email" />
</form>